body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #D2691E; /* Chocolat */
}

.navbar-brand, .navbar-nav .nav-item .nav-link {
    color: white; /* Texte en blanc pour contraste */
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    font-weight: bold;
}

h1, h2, h3, h5 {
    color: #D2691E; /* Chocolat */
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Éviter un trop grand zoom */
    object-position: center; /* Centrer l'image */
}

.container {
    padding-top: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #D2691E; /* Chocolat */
}

.card-text {
    color: #FFD700; /* Jaune */
    font-size: 1rem;
    font-weight: bold;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    background-color: #FFD700; /* Jaune */
    border-color: #FFD700; /* Jaune */
    color: #333; /* Couleur du texte */
}

.btn:hover {
    background-color: #e5c100; /* Une version plus foncée du jaune */
    border-color: #e5c100; /* Une version plus foncée du jaune */
    color: #333; /* Couleur du texte */
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

.container-fluid {
    max-width: 1200px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body .col-auto i {
    font-size: 2rem;
    color: #ddd;
}

.card-body .col {
    flex: 1;
}

.table thead th {
    background-color: #FFD700; /* Jaune */
    color: white;
}

.table {
    margin-top: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 215, 0, 0.1); /* Jaune clair */
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 215, 0, 0.2); /* Jaune légèrement plus foncé */
}

.btn-info {
    background-color: #FFD700; /* Jaune */
    border-color: #FFD700; /* Jaune */
    color: #333; /* Couleur du texte */
}

.btn-info:hover {
    background-color: #e5c100; /* Une version plus foncée du jaune */
    border-color: #e5c100; /* Une version plus foncée du jaune */
    color: #333; /* Couleur du texte */
}
