<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique des Commandes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Historique des Commandes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Numéro de Table</th>
                    <th>Articles</th>
                    <th>Prix Total</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order[0] }}</td>
                    <td>{{ order[1] }}</td>
                    <td>
                        <ul>
                            {% for item in order[2] %}
                            <li>{{ item['name'] }} - {{ item['price'] }} FC</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ order[3] }} FC</td>
                    <td>{{ order[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
